{
	"extends": ["eslint:recommended", "eslint-config-prettier"],
	"parserOptions": {
		"ecmaVersion": 8,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
			"experimentalObjectRestSpread": true
		}
	},
	"env": {
		"browser": true,
		"commonjs": true,
		"node": true
	},
	"rules": {
		"indent": ["error", "tab"]
	}
}
